@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap");
:root {
  --swiper-theme-color: #f90c7d;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  box-sizing: inherit;
}

body {
  font-family: "Lora", serif;
  scroll-behavior: smooth;
  background-color: #ffffff;
  transition: 3ooms;
}

::-webkit-scrollbar {
  display: none;
}

section,
section div {
  overflow: hidden;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 20vw;
  width: 10rem;
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 500ms;
}
nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  font-size: larger;
  font-size: larger;
  letter-spacing: 3px;
}
nav ul {
  list-style: none;
  display: none;
  flex-direction: column;
  row-gap: 20px;
  text-align: left;
  align-self: flex-start;
  margin: 12px;
  width: 85%;
}
nav ul a {
  transition-duration: 700ms;
  text-decoration: none;
}
nav ul a li {
  color: whitesmoke;
  width: 100%;
  height: 100%;
}
nav ul li:hover {
  transition-duration: 700ms;
  text-align: center;
  padding: 5px;
  color: #000000;
  background-color: #f90c7d;
}

a {
  cursor: pointer;
}
a .scroll-top-button {
  background-color: #f90c7d;
  position: fixed;
  bottom: 0px;
  right: 15px;
  z-index: 1000;
  border: none;
  height: 5rem;
  width: 4rem;
}

header {
  overflow-y: hidden;
  display: table;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: url(../images/intro-bg.jpg) no-repeat center bottom;
  background-size: cover !important;
  background-attachment: fixed;
}
header .layer {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: #111111;
  opacity: 0.85;
}
header .layer .header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
  text-align: center;
  color: azure;
  line-height: 30px;
}
header .layer .header-text .container {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header .layer .header-text .text {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 3rem;
  color: #f90c7d;
}
header .layer .header-text .text_hide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #141414;
}
header .layer .header-text .text_cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-left: 3.5px solid rgb(255, 255, 255);
}
header .layer .header-text .logo {
  display: grid;
  place-items: center;
  max-width: 10rem;
  padding-right: 10rem;
  margin-bottom: 2rem;
}
header .layer .header-text .logo img {
  max-width: 17rem;
}
header .layer .header-text h1 {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.9450980392);
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  line-height: 1.071;
  max-width: 900px;
  margin-top: 0;
  margin-bottom: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-weight: 550;
}
header .layer .header-text h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.565;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  color: orangered;
}
header .layer .header-text h5 span {
  color: #f90c7d;
}
header .layer .header-text h6 {
  overflow: hidden;
  font-family: "Lora", serif;
  font-size: 1.2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
header .layer .header-text a {
  text-decoration: none;
}
header .layer .header-text a .header-button {
  margin-top: 20px;
  width: 15rem;
  height: 4rem;
  overflow: hidden;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(17, 17, 17, 0);
  border: 2px whitesmoke solid;
  border-radius: 10px;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
header .layer .header-text a .header-button .header-button-chevron {
  stroke-width: 2px;
  margin-top: 5px;
  color: #ffffff;
  width: 30px;
}
header .layer .header-icons {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 7.2rem;
  font-size: 3.3rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
header .layer .header-icons a {
  color: #ffffff;
}
header .layer .header-icons a:hover {
  color: #f90c7d;
  transition-duration: 400ms;
  cursor: pointer;
}

article {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  width: 100vw;
  background-color: rgb(247, 247, 247);
}
article .container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 55rem;
  padding-inline: 40px;
}
article .container .section-1 {
  padding: 0%;
  display: grid;
  place-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
article .container .section-1 h6 {
  color: #f90c7d;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-family: "Poppins", sans-serif;
}
article .container .section-1 h2 {
  font-size: 2.5rem;
  line-height: 1.875;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-bottom: 25px;
  font-weight: 600;
  font-style: normal;
}
article .container .section-1 .section-1-content {
  padding-bottom: 2rem;
  min-height: 10rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
article .container .section-1 .section-1-content .profile-image {
  margin-bottom: 20px;
  margin-left: 80px;
  justify-self: center;
  background-image: url(../images/profile-pic.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  min-width: 120px;
  min-height: 118px;
  border-radius: 100%;
}
article .container .section-1 .section-1-content p {
  margin-right: 6rem;
  text-align: left;
  font-family: "Lora", serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #888888;
  font-weight: 100;
}
article .container .section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
article .container .section-2 .section-2-content {
  padding-inline: 20px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
article .container .section-2 h6 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  color: #313131;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
article .container .section-2 p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "lora-regular", serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #6e6e6e;
}
article .container .section-2-skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 45%;
}
article .container .section-2-skills .section-2-skills-graph ul {
  display: grid;
  row-gap: 2rem;
}
article .container .section-2-skills .section-2-skills-graph ul li {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: 100%;
}
article .container .section-2-skills .section-2-skills-graph ul li strong {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
article .container .section-2-skills .section-2-skills-graph ul li .progress-container {
  background-color: rgba(182, 182, 182, 0.7764705882);
  border-radius: 5px;
  width: 100%;
  height: 1rem;
}
article .container .section-2-skills .section-2-skills-graph ul li .progress-container .percent80 {
  --width: 80%;
}
article .container .section-2-skills .section-2-skills-graph ul li .progress-container .percent85 {
  --width: 85%;
}
article .container .section-2-skills .section-2-skills-graph ul li .progress-container .percent90 {
  --width: 88%;
}
article .container .section-2-skills .section-2-skills-graph ul li .progress-container .percent95 {
  --width: 92%;
}
article .container .section-2-skills .section-2-skills-graph ul li .progress-container .progress {
  background: #313131;
  text-align: right;
  color: azure;
  padding-inline-end: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  border-radius: 40px;
  height: 100%;
  width: var(--width);
}
article .container .section-2-skills .section-2-skills-items {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  row-gap: 15px;
}
article .container .section-2-skills .section-2-skills-items div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 2px;
  padding-inline: 3px;
  text-align: center;
  border: #888888 solid 1px;
  border-radius: 5px;
  height: 3rem;
  font-family: "poppins-bold", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: #6e6e6e;
}
article .container .section-2-skills .section-2-skills-items div:hover {
  border-color: #f90c7d;
  color: #f90c7d;
  cursor: pointer;
}
article .container .section-2-profile {
  max-width: 45%;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 300ms;
}
article .container .section-2-profile ul {
  margin-top: 3rem;
}
article .container .section-2-profile ul li {
  padding: 0%;
  margin: 0%;
  margin-bottom: 10px;
}
article .container .section-2-profile ul li label {
  font-family: "Poppins", sans-serif;
  color: #414141;
  text-transform: uppercase;
  font-size: 1.1rem;
}
article .container .section-2-profile ul p {
  position: relative;
  top: -17px;
  font-family: "Lora", serif;
  color: #888888;
  font-size: 0.9rem;
}
article .container .section-2-buttons {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
article .container .section-2-buttons a {
  text-decoration: none;
}
article .container .section-2-buttons button {
  min-width: 13rem;
  padding-inline: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-align: center;
  border: solid 2px;
  height: 3rem;
  font-family: "poppins-bold", sans-serif;
  font-weight: 550;
  font-size: 0.9rem;
  line-height: 2rem;
  color: rgb(49, 49, 49);
  transition-duration: 300ms;
}
article .container .section-2-buttons button:nth-child(2) {
  background-color: rgb(49, 49, 49);
  color: azure;
  border: none;
}
article .container .section-2-buttons button:nth-child(2):hover {
  cursor: pointer;
  background-color: black;
}
article .container .section-2-buttons button:nth-child(1):hover {
  color: #f90c7d;
  border-color: #f90c7d;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
article .container .section-3,
article .container .section-4,
article .container .section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  padding-top: 8rem;
  font-family: "Lora", serif;
}
article .container .section-3 .header-intro,
article .container .section-4 .header-intro,
article .container .section-5 .header-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 70%;
}
article .container .section-3 .header-intro h5,
article .container .section-4 .header-intro h5,
article .container .section-5 .header-intro h5 {
  font-family: "Poppins", sans-serif;
  color: #f90c7d;
  font-size: 1.2rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
}
article .container .section-3 .header-intro h1,
article .container .section-4 .header-intro h1,
article .container .section-5 .header-intro h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
article .container .section-3 .header-intro p,
article .container .section-4 .header-intro p,
article .container .section-5 .header-intro p {
  color: #6e6e6e;
  font-family: "Lora", serif;
  font-size: 1.3rem;
}
article .container .section-3 .resume-header,
article .container .section-4 .resume-header,
article .container .section-5 .resume-header {
  text-align: center;
  color: #f90c7d;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article .container .section-3 .blocks-main-container,
article .container .section-4 .blocks-main-container,
article .container .section-5 .blocks-main-container {
  width: 100%;
}
article .container .section-3 .blocks-main-container .timeline-wrap,
article .container .section-4 .blocks-main-container .timeline-wrap,
article .container .section-5 .blocks-main-container .timeline-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}
article .container .section-3 .blocks-main-container .timeline-wrap .blocks-second-container,
article .container .section-4 .blocks-main-container .timeline-wrap .blocks-second-container,
article .container .section-5 .blocks-main-container .timeline-wrap .blocks-second-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding-left: 4rem;
  row-gap: 2.5rem;
}
article .container .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block,
article .container .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block,
article .container .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block {
  padding-bottom: 30px;
}
article .container .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-ico,
article .container .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-ico,
article .container .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-ico {
  position: absolute;
  display: grid;
  place-items: center;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #000000;
  border-radius: 100%;
  color: azure;
  margin-left: -3rem;
  margin-right: 20px;
}
article .container .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-ico svg,
article .container .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-ico svg,
article .container .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-ico svg {
  stroke-width: 3px;
}
article .container .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header,
article .container .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header,
article .container .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.8rem;
  border-bottom: 2px rgba(0, 0, 0, 0.321) solid;
  width: 30%;
  padding-bottom: 10px;
}
article .container .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header p,
article .container .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header p,
article .container .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header p {
  color: #6e6e6e;
}
article .container .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content,
article .container .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content,
article .container .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content {
  font-family: "Lora", serif;
  width: 90%;
}
article .container .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content h4,
article .container .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content h4,
article .container .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content h4 {
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  color: #f90c7d;
}
article .container .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content p,
article .container .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content p,
article .container .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content p {
  color: #6e6e6e;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
article .container .section-3 .blocks-main-container .timeline-wrap::before,
article .container .section-4 .blocks-main-container .timeline-wrap::before,
article .container .section-5 .blocks-main-container .timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: rgb(155, 155, 155);
  position: absolute;
  left: 2.2rem;
  top: 0;
}
article .container .section-4,
article .container .section-5 {
  padding-top: 0px;
}
article .container .section-4 h2,
article .container .section-5 h2 {
  font-size: 2rem;
  letter-spacing: 3px;
}
article .container .section-4 span,
article .container .section-5 span {
  color: #f90c7d;
}
article .container .section-5-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
article .container .section-5-buttons h6 {
  font-family: "Poppins", sans-serif;
  color: #6e6e6e;
  font-size: 1rem;
  font-weight: 600;
}
article .container .section-5-buttons div {
  margin-top: 7px;
  display: flex;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
article .container .section-5-buttons div button {
  padding: 9px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
}
article .container .section-5-buttons div a {
  border-radius: 5px;
  transition-duration: 300ms;
  padding: 9px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
  text-decoration: none;
}
article .container .section-5-buttons div a:nth-child(1) {
  background-color: orangered;
}
article .container .section-5-buttons div a:nth-child(1):hover {
  background-color: rgb(193, 51, 0);
}
article .container .section-5-buttons div a:nth-child(2):hover {
  background-color: rgb(0, 8, 166);
}
article .container .section-5-buttons div a:nth-child(2) {
  background-color: rgb(0, 13, 255);
}

.section-6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #313131 url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  color: white;
  position: relative;
  padding-top: 22rem;
  padding-bottom: 30rem;
}
.section-6 .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(20, 20, 20);
  background: linear-gradient(0deg, rgb(20, 20, 20) 0%, rgba(20, 20, 20, 0.8869922969) 66%, rgba(20, 20, 20, 0.7889530812) 100%);
}
.section-6 .overlay .header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 60%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3rem;
}
.section-6 .overlay .header h6 {
  color: #f90c7d;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 0.15rem;
}
.section-6 .overlay .header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.section-6 .overlay .header p {
  font-size: 1rem;
  font-weight: 300;
  max-width: 40rem;
}
.section-6 .overlay .section-6-cards-container-1 {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 28rem;
  margin-top: 3rem;
}
.section-6 .overlay .section-6-cards-container-1 .scroll-button-left,
.section-6 .overlay .section-6-cards-container-1 .scroll-button-right {
  position: relative;
  min-width: 4rem;
  min-height: 4rem;
  border-radius: 100%;
  border: none;
  display: grid;
  place-items: center;
  background-color: rgba(49, 49, 49, 0.5411764706);
  cursor: pointer;
}
.section-6 .overlay .section-6-cards-container-1 .scroll-button-left svg,
.section-6 .overlay .section-6-cards-container-1 .scroll-button-right svg {
  color: #f90c7d;
  fill: #f90c7d;
  min-width: 2rem;
  min-height: 2rem;
}
.section-6 .overlay .section-6-cards-container-1 .scroll-button-left:active,
.section-6 .overlay .section-6-cards-container-1 .scroll-button-right:active {
  background-color: rgba(99, 99, 99, 0.6862745098);
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 {
  scroll-behavior: smooth;
  transition: 350ms ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 75vw;
  min-height: 100%;
  overflow-x: scroll;
  gap: 1.5rem;
  padding-inline: 2rem;
  margin-inline: 1rem;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30rem;
  background-color: rgba(245, 245, 245, 0.062);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
  overflow: hidden;
  padding-block: 3rem;
  height: 22rem;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-text {
  overflow: hidden;
  margin-bottom: auto;
  margin-top: auto;
  width: 90%;
  text-align: center;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-text h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-icon {
  width: 9rem;
  justify-self: flex-start;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-icon svg {
  width: 100%;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(1) .cards-icon {
  margin-top: 1rem;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(2) .cards-icon {
  margin-bottom: 1rem;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(2) .cards-icon svg {
  width: 84%;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(3) .cards-icon {
  margin-bottom: 1rem;
  width: 10rem;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(3) .cards-icon svg {
  width: 90%;
}
.section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(4) .cards-icon svg {
  width: 90%;
}

footer {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 5rem;
  padding-top: 2rem;
}
footer .footer-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 60%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3rem;
  color: #f5f5f5;
}
footer .footer-header h6 {
  color: #f90c7d;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 0.15rem;
}
footer .footer-header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
footer .footer-header p {
  font-size: 1rem;
  font-weight: 300;
  max-width: 40rem;
}
footer .footer-container-items {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2.5rem;
}
footer .footer-container-items .footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  row-gap: 20px;
  padding-inline: 2.5rem;
  min-width: 5rem;
}
footer .footer-container-items .footer-item a {
  color: whitesmoke;
}
footer .footer-container-items .footer-item a svg:hover {
  color: #000000;
}
footer .footer-container-items .footer-item .footer-item-content {
  text-align: center;
}
footer .footer-container-items .footer-item .footer-item-content h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}
footer .footer-container-items .footer-item .footer-item-content p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 200;
}
footer .footer-container-items .footer-item:nth-child(1) {
  border: none;
}
footer footer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: center;
  color: #f90c7d;
  font-family: "Poppins", sans-serif;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
footer footer span {
  color: whitesmoke;
}

@media screen and (max-width: 768px) {
  header .layer .header-text {
    line-height: 20px;
  }
  header .layer .header-text .container {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  header .layer .header-text .text {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2rem;
    color: #f90c7d;
  }
  header .layer .header-text .text_hide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #141414;
    width: 100%;
    height: 5rem;
  }
  header .layer .header-text .text_cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border-left: 3.5px solid rgb(255, 255, 255);
  }
  header .layer .header-text .logo {
    padding-right: 8rem;
  }
  header .layer .header-text .logo img {
    max-width: 15rem;
  }
  header .layer .header-text h1 {
    font-size: 3.5rem;
    line-height: 0.8;
    max-width: 580px;
    font-weight: 550;
  }
  header .layer .header-text h5 {
    font-size: 1.2rem;
    line-height: 1.565;
    margin-bottom: 10px;
  }
  header .layer .header-text h6 {
    font-size: 0.8rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
  }
  header .layer .header-text a .header-button {
    margin-top: 20px;
    width: 12rem;
    height: 3rem;
    font-size: 0.75rem;
  }
  header .layer .header-text a .header-button .header-button-chevron {
    margin-top: 5px;
    width: 25px;
  }
  .container {
    padding-inline: 10px;
  }
  .section-1 h6 {
    font-size: 1rem;
  }
  .section-1 h2 {
    font-size: 2rem !important;
    line-height: 1.3 !important;
    margin-bottom: 20px !important;
  }
  .section-1 .section-1-content {
    padding-bottom: 2rem;
    min-height: 10rem;
    flex-direction: column !important;
    justify-content: center;
  }
  .section-1 .section-1-content .profile-image {
    margin-left: 0px !important;
  }
  .section-1 .section-1-content p {
    margin-right: 0rem !important;
    text-align: center !important;
    font-size: 1.05rem !important;
    max-width: 35rem !important;
  }
  .section-2 {
    width: 100% !important;
  }
  .section-2 .section-2-content {
    padding-inline: 0px !important;
    width: 100% !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .section-2-skills {
    max-width: 100% !important;
  }
  .section-2-profile {
    margin-top: 20px !important;
    max-width: 100% !important;
  }
  .section-2-profile ul {
    margin-top: 1rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .section-2-profile ul li label {
    font-size: 1.1rem !important;
  }
  .section-2-profile ul p {
    font-size: 1rem !important;
  }
  .section-2-buttons {
    margin-top: 20px !important;
    flex-direction: column !important;
    row-gap: 1rem !important;
  }
  .section-3,
  .section-4,
  .section-5 {
    row-gap: 1rem !important;
    padding-top: 4rem !important;
  }
  .section-3 .header-intro,
  .section-4 .header-intro,
  .section-5 .header-intro {
    max-width: 100% !important;
  }
  .section-3 .header-intro h1,
  .section-4 .header-intro h1,
  .section-5 .header-intro h1 {
    font-size: 2.1rem !important;
    font-weight: 500 !important;
    margin-bottom: 1rem !important;
  }
  .section-3 .header-intro p,
  .section-4 .header-intro p,
  .section-5 .header-intro p {
    font-size: 1.2rem !important;
  }
  .section-3 .resume-header,
  .section-4 .resume-header,
  .section-5 .resume-header {
    font-size: 1.3rem !important;
    margin-bottom: 3rem !important;
  }
  .section-3 .blocks-main-container,
  .section-4 .blocks-main-container,
  .section-5 .blocks-main-container {
    width: 100%;
  }
  .section-3 .blocks-main-container .timeline-wrap,
  .section-4 .blocks-main-container .timeline-wrap,
  .section-5 .blocks-main-container .timeline-wrap {
    margin-top: 1rem !important;
    margin-bottom: 4rem !important;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container {
    height: 100%;
    width: 100%;
    row-gap: 2.5rem;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header {
    width: 60% !important;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header h3,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header h3,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header h3 {
    font-size: 1.2rem;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header p,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header p,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header p {
    font-size: 0.8rem;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content {
    width: 100% !important;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content p,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content p,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content p {
    font-size: 1.05rem !important;
  }
  .section-3 .blocks-main-container .timeline-wrap::before,
  .section-4 .blocks-main-container .timeline-wrap::before,
  .section-5 .blocks-main-container .timeline-wrap::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: rgb(155, 155, 155);
    position: absolute;
    left: 2.2rem;
    top: 0;
  }
  .section-4,
  .section-5 {
    padding-top: 0px;
  }
  .section-4 h2,
  .section-5 h2 {
    font-size: 2rem;
    letter-spacing: 3px;
  }
  .section-5-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .section-5-buttons div {
    margin-top: 7px;
    display: flex;
    align-items: flex-start !important;
    flex-direction: column !important;
    row-gap: 10px !important;
  }
  .section-5-buttons div button {
    width: 100%;
    height: 100%;
  }
  .section-5-buttons div a {
    display: grid;
    place-items: center;
    border-radius: 7px !important;
    text-decoration: none;
    width: 65%;
    overflow: hidden;
  }
  .section-6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #313131 url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    color: white;
    position: relative;
    padding-top: 22rem;
    padding-bottom: 30rem;
  }
  .section-6 .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(20, 20, 20);
    background: linear-gradient(0deg, rgb(20, 20, 20) 0%, rgba(20, 20, 20, 0.8869922969) 66%, rgba(20, 20, 20, 0.7889530812) 100%);
  }
  .section-6 .overlay .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 60%;
    font-family: "Poppins", sans-serif;
    margin-bottom: 3rem;
  }
  .section-6 .overlay .header h6 {
    color: #f90c7d;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 0.15rem;
  }
  .section-6 .overlay .header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    max-width: 80vw;
  }
  .section-6 .overlay .header p {
    font-size: 0.9rem;
    font-weight: 300;
    max-width: 40rem;
  }
  .section-6 .overlay .section-6-cards-container-1 {
    margin-top: 2rem !important;
  }
  .section-6 .overlay .section-6-cards-container-1 .scroll-button-left,
  .section-6 .overlay .section-6-cards-container-1 .scroll-button-right {
    display: none !important;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 {
    width: 100vw !important;
    min-height: 100% !important;
    gap: 0.5rem !important;
    margin-inline: 0.5rem !important;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card {
    min-width: 25rem !important;
    border-radius: 30px !important;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-text h4 {
    font-size: 1.2rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-text p {
    font-size: 0.9rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-icon {
    width: 7rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-icon svg {
    width: 100%;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(1) .cards-icon {
    margin-top: 1rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(2) .cards-icon {
    margin-bottom: 1rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(2) .cards-icon svg {
    width: 94%;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(3) .cards-icon {
    margin-bottom: 1rem;
    width: 10rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(3) .cards-icon svg {
    width: 80%;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(4) .cards-icon {
    margin-top: 1rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(4) .cards-icon svg {
    width: 100%;
  }
  footer {
    padding-inline: 0rem !important;
  }
  footer .footer-header {
    max-width: 86% !important;
    margin-bottom: 2rem !important;
  }
  footer .footer-header h6 {
    color: #f90c7d;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 0.15rem;
  }
  footer .footer-header h1 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }
  footer .footer-header p {
    font-size: 1rem;
    font-weight: 300;
    max-width: 84%;
  }
  footer .footer-container-items {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2.5rem;
  }
  footer .footer-container-items .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    row-gap: 20px;
    padding-inline: 2.5rem;
    min-width: 5rem;
  }
  footer .footer-container-items .footer-item a {
    color: whitesmoke;
  }
  footer .footer-container-items .footer-item a svg:hover {
    color: #000000;
  }
  footer .footer-container-items .footer-item .footer-item-content {
    text-align: center;
  }
  footer .footer-container-items .footer-item .footer-item-content h5 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
  }
  footer .footer-container-items .footer-item .footer-item-content p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 200;
  }
  footer .footer-container-items .footer-item:nth-child(1) {
    border: none;
  }
  footer footer h6 {
    font-size: 0.6rem;
    font-weight: 200;
  }
}
@media screen and (max-width: 485px) {
  nav {
    padding: 2px;
  }
  a {
    cursor: pointer;
  }
  a .scroll-top-button {
    height: 3.5rem;
    width: 3rem;
  }
  header .layer .header-text {
    margin-top: 120px !important;
    line-height: 20px;
  }
  header .layer .header-text .logo {
    padding-right: 6.2rem;
  }
  header .layer .header-text .logo img {
    max-width: 12rem;
  }
  header .layer .header-text h1 {
    font-size: 2rem;
    line-height: 0.8;
    max-width: 580px;
    font-weight: 550;
  }
  header .layer .header-text h5 {
    font-size: 1rem;
    line-height: 1.565;
    margin-bottom: 10px;
  }
  header .layer .header-text h6 {
    font-size: 0.6rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    max-width: 90%;
  }
  header .layer .header-text a .header-button {
    margin-top: 20px;
    width: 10rem;
    height: 3rem;
    font-size: 0.6rem;
  }
  header .layer .header-text a .header-button .header-button-chevron {
    margin-top: 5px;
    width: 20px;
  }
  .container {
    padding-inline: 10px;
  }
  .section-1 h6 {
    font-size: 0.8rem;
  }
  .section-1 h2 {
    font-size: 1.2rem !important;
    line-height: 1 !important;
    margin-bottom: 20px !important;
    text-align: center;
  }
  .section-1 .section-1-content {
    padding-bottom: 2rem;
    min-height: 10rem;
    flex-direction: column !important;
    justify-content: center;
  }
  .section-1 .section-1-content .profile-image {
    margin-left: 0px !important;
    background-size: 120px;
    width: 80px;
    height: 80px;
  }
  .section-1 .section-1-content p {
    margin-right: 0rem !important;
    text-align: center !important;
    font-size: 0.7rem !important;
    max-width: 98vw !important;
  }
  .section-2 {
    width: 100% !important;
  }
  .section-2 .section-2-content {
    padding-inline: 0px !important;
    width: 100% !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .section-2-skills {
    max-width: 100% !important;
  }
  .section-2-skills p {
    font-size: 0.9rem !important;
    line-height: 20px !important;
  }
  .section-2-skills .section-2-skills-items {
    gap: 20px !important;
  }
  .section-2-profile {
    margin-top: 20px !important;
    max-width: 100% !important;
  }
  .section-2-profile p {
    font-size: 0.9rem !important;
    line-height: 20px !important;
  }
  .section-2-profile ul {
    margin-top: 1rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .section-2-profile ul li label {
    font-size: 1rem !important;
  }
  .section-2-profile ul p {
    font-size: 0.8rem !important;
  }
  .skill-bars .progress-container {
    width: 80%;
  }
  .skill-bars .progress-container .progress {
    border-radius: 0px 0px 5px 5px;
  }
  .skill-bars .progress-container .progress span {
    font-size: 0.7rem !important;
    margin-bottom: auto;
    margin-top: auto;
  }
  .skill-bars strong {
    font-size: 0.8rem !important;
  }
  .section-2-buttons {
    margin-top: 20px !important;
    flex-direction: column !important;
    row-gap: 1rem !important;
    max-width: 80vw !important;
  }
  .section-3,
  .section-4,
  .section-5 {
    row-gap: 1rem !important;
    padding-top: 4rem !important;
  }
  .section-3 .header-intro,
  .section-4 .header-intro,
  .section-5 .header-intro {
    width: 90vw !important;
  }
  .section-3 .header-intro h5,
  .section-4 .header-intro h5,
  .section-5 .header-intro h5 {
    font-size: 1rem !important;
  }
  .section-3 .header-intro h1,
  .section-4 .header-intro h1,
  .section-5 .header-intro h1 {
    font-size: 1.4rem !important;
    font-weight: 600 !important;
    margin-bottom: 1rem !important;
  }
  .section-3 .header-intro p,
  .section-4 .header-intro p,
  .section-5 .header-intro p {
    font-size: 0.8rem !important;
  }
  .section-3 .resume-header,
  .section-4 .resume-header,
  .section-5 .resume-header {
    margin-bottom: 1.2rem !important;
  }
  .section-3 .blocks-main-container,
  .section-4 .blocks-main-container,
  .section-5 .blocks-main-container {
    width: 100%;
  }
  .section-3 .blocks-main-container .timeline-wrap,
  .section-4 .blocks-main-container .timeline-wrap,
  .section-5 .blocks-main-container .timeline-wrap {
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container {
    height: 100%;
    width: 100%;
    row-gap: 2.5rem;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header {
    width: 80% !important;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header h3,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header h3,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header h3 {
    font-size: 0.9rem !important;
    max-width: 80vw;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header p,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header p,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-header p {
    font-size: 0.6rem !important;
    max-width: 80vw;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content {
    width: 100% !important;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content h4,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content h4,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content h4 {
    margin-top: 0.7rem !important;
  }
  .section-3 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content p,
  .section-4 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content p,
  .section-5 .blocks-main-container .timeline-wrap .blocks-second-container .timeline-block .timeline-content p {
    font-size: 0.9rem !important;
  }
  .section-3 .blocks-main-container .timeline-wrap::before,
  .section-4 .blocks-main-container .timeline-wrap::before,
  .section-5 .blocks-main-container .timeline-wrap::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: rgb(155, 155, 155);
    position: absolute;
    left: 2.2rem;
    top: 0;
  }
  .section-4,
  .section-5 {
    padding-top: 0px;
  }
  .section-4 h2,
  .section-5 h2 {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
  .section-5-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .section-5-buttons div {
    margin-top: 7px;
    display: flex;
    align-items: flex-start !important;
    flex-direction: column !important;
    row-gap: 10px !important;
  }
  .section-5-buttons div button {
    width: 100%;
    height: 100%;
  }
  .section-5-buttons div a {
    display: grid;
    place-items: center;
    border-radius: 7px !important;
    text-decoration: none;
    width: 90%;
    overflow: hidden;
  }
  .section-6 {
    padding-top: 22rem;
    padding-bottom: 25rem;
  }
  .section-6 .overlay .header {
    max-width: 100% !important;
    margin-bottom: 2rem;
  }
  .section-6 .overlay .header h6 {
    margin-bottom: 0.15rem;
  }
  .section-6 .overlay .header h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }
  .section-6 .overlay .header p {
    font-size: 0.6rem;
    font-weight: 350;
    max-width: 90%;
  }
  .section-6 .overlay .section-6-cards-container-1 {
    margin-top: 1rem !important;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 {
    width: 100vw !important;
    min-height: 100% !important;
    gap: 0.5rem !important;
    margin-inline: 0rem !important;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card {
    min-width: 18rem !important;
    border-radius: 30px !important;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-text h4 {
    font-size: 0.95rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-text p {
    font-size: 0.8rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-icon {
    width: 7rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card .cards-icon svg {
    width: 100%;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(1) .cards-icon {
    margin-top: 1rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(2) .cards-icon {
    margin-bottom: 1rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(2) .cards-icon svg {
    width: 84%;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(3) .cards-icon {
    margin-bottom: 1rem;
    width: 7rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(3) .cards-icon svg {
    width: 100%;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(4) .cards-icon {
    margin-top: 1rem;
  }
  .section-6 .overlay .section-6-cards-container-1 .section-6-cards-container-2 .section-6-card:nth-child(4) .cards-icon svg {
    width: 100%;
  }
  footer {
    padding-inline: 0rem !important;
  }
  footer .footer-header {
    max-width: 86% !important;
    margin-bottom: 2rem !important;
  }
  footer .footer-header h6 {
    color: #f90c7d;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 0.15rem;
  }
  footer .footer-header h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  footer .footer-header p {
    font-size: 0.7rem;
    font-weight: 300;
    max-width: 96%;
  }
  footer .footer-container-items {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2.5rem;
  }
  footer .footer-container-items .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    row-gap: 20px;
    padding-inline: 2.5rem;
    min-width: 5rem;
  }
  footer .footer-container-items .footer-item a {
    color: whitesmoke;
  }
  footer .footer-container-items .footer-item a svg:hover {
    color: #000000;
  }
  footer .footer-container-items .footer-item .footer-item-content {
    text-align: center;
  }
  footer .footer-container-items .footer-item .footer-item-content h5 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
  }
  footer .footer-container-items .footer-item .footer-item-content p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 200;
  }
  footer .footer-container-items .footer-item:nth-child(1) {
    border: none;
  }
  footer footer h6 {
    font-size: 0.4rem;
    font-weight: 400;
    max-width: 80%;
  }
}
@media screen and (max-height: 700px) {
  header .header-text {
    margin-top: 120px;
  }
}/*# sourceMappingURL=Main.css.map */