// google fonts import
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap");

// varibles
$Text-pink: #f90c7d;
$poppin-Font: "Poppins", sans-serif;
$Lora-Font: "Lora", serif;
$pixel-font: "Pixelify Sans", sans-serif;
$text-gray: #6e6e6e;
$white: whitesmoke;

:root {
  --swiper-theme-color: #f90c7d;
}
// Browser default reset

html {
  scroll-behavior: smooth;
}
* {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  box-sizing: inherit;
}

// Global styles
body {
  font-family: $Lora-Font;
  scroll-behavior: smooth;
  background-color: #ffffff;

  transition: 3ooms;
}

// for hiding scrollbar

::-webkit-scrollbar {
  display: none;
}

// !============ MENU ===========
nav {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 20vw;
  width: 10rem;
  font-family: $poppin-Font;
  color: #f5f5f5;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 500ms;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    font-size: larger;
    font-size: larger;
    letter-spacing: 3px;
  }

  ul {
    list-style: none;
    display: none;
    flex-direction: column;
    row-gap: 20px;
    text-align: left;
    align-self: flex-start;
    margin: 12px;
    width: 85%;

    a {
      transition-duration: 700ms;
      text-decoration: none;
      li {
        color: $white;

        width: 100%;
        height: 100%;
      }
    }

    li:hover {
      transition-duration: 700ms;
      text-align: center;
      padding: 5px;
      color: #000000;
      background-color: $Text-pink;
    }
  }
}

// scroll top button
a {
  cursor: pointer;
  .scroll-top-button {
    background-color: $Text-pink;
    position: fixed;
    bottom: 0px;
    right: 15px;
    z-index: 1000;
    border: none;
    height: 5rem;
    width: 4rem;
  }
}

// !=========== HEADER ==========
header {
  overflow-y: hidden;
  display: table;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: url(../images/intro-bg.jpg) no-repeat center bottom;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-attachment: fixed;

  // For the dark layer on the image
  .layer {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: #111111;
    opacity: 0.85;

    .header-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $poppin-Font;
      font-weight: normal;
      font-style: normal;
      vertical-align: middle;
      text-align: center;
      color: azure;
      line-height: 30px;

      .container {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .text {
        font-family: $pixel-font;
        font-size: 3rem;
        color: $Text-pink;
      }

      .text_hide {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #141414;
      }

      .text_cursor {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        border-left: 3.5px solid rgb(255, 255, 255);
      }
      .logo {
        display: grid;
        place-items: center;
        max-width: 10rem;
        padding-right: 10rem;
        margin-bottom: 2rem;

        img {
          max-width: 17rem;
        }
      }
      h1 {
        overflow: hidden;
        color: #fffffff1;
        font-family: $poppin-Font;
        font-size: 5rem;
        line-height: 1.071;
        max-width: 900px;
        margin-top: 0;
        margin-bottom: 0.6rem;
        margin-left: auto;
        margin-right: auto;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        font-weight: 550;
      }

      h5 {
        font-family: $poppin-Font;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 1.565;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        color: orangered;
        span {
          color: $Text-pink;
        }
      }

      h6 {
        overflow: hidden;
        font-family: $Lora-Font;
        font-size: 1.2rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: #ffffff;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      }
      a {
        text-decoration: none;
        .header-button {
          margin-top: 20px;
          width: 15rem;
          height: 4rem;
          overflow: hidden;
          padding-inline: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          background-color: #11111100;
          border: 2px $white solid;
          border-radius: 10px;
          color: #ffffff !important;
          cursor: pointer;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.25rem;

          .header-button-chevron {
            stroke-width: 2px;
            margin-top: 5px;
            color: #ffffff;
            width: 30px;
          }
        }
      }
    }

    .header-icons {
      display: flex;
      align-self: flex-end;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      column-gap: 40px;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 7.2rem;
      font-size: 3.3rem;
      margin: 0;
      padding: 0;
      text-decoration: none;

      a {
        color: #ffffff;
      }

      a:hover {
        color: $Text-pink;
        transition-duration: 400ms;
        cursor: pointer;
      }
    }
  }
}

// !============= BODY =============

article {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  width: 100vw;
  background-color: rgb(247, 247, 247);

  .container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 55rem;
    padding-inline: 40px;

    //  !========= SECTION 1 =========
    .section-1 {
      padding: 0%;
      display: grid;
      place-items: center;
      width: 100%;
      margin-bottom: 2rem;

      h6 {
        color: $Text-pink;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        font-family: $poppin-Font;
      }

      h2 {
        font-size: 2.5rem;
        line-height: 1.875;
        font-family: $poppin-Font;
        font-weight: 800;
        margin-bottom: 25px;
        font-weight: 600;
        font-style: normal;
      }

      .section-1-content {
        padding-bottom: 2rem;
        min-height: 10rem;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: 2rem;

        .profile-image {
          margin-bottom: 20px;
          margin-left: 80px;
          justify-self: center;
          background-image: url(../images/profile-pic.JPG);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 150px;
          min-width: 120px;
          min-height: 118px;
          border-radius: 100%;
        }
        p {
          margin-right: 6rem;
          text-align: left;
          font-family: $Lora-Font;
          font-size: 1rem;
          line-height: 1.6;
          color: #888888;
          font-weight: 100;
        }
      }
    }

    //  !========= SECTION 2 =========
    .section-2 {
      width: 100%;
      display: flex;
      flex-direction: column;

      .section-2-content {
        padding-inline: 20px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
      }

      h6 {
        font-family: $poppin-Font;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        line-height: 1.5;
        color: #313131;
        font-style: normal;
        text-rendering: optimizeLegibility;
      }

      p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: "lora-regular", serif;
        font-size: 1.2rem;
        line-height: 2rem;
        color: #6e6e6e;
      }
    }

    .section-2-skills {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 45%;

      .section-2-skills-graph {
        ul {
          display: grid;
          row-gap: 2rem;

          li {
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            height: 100%;

            strong {
              font-family: $poppin-Font;
              font-weight: 400;
              margin-bottom: 10px;
            }

            .progress-container {
              background-color: #b6b6b6c6;
              border-radius: 5px;
              width: 100%;
              height: 1rem;

              .percent80 {
                --width: 80%;
              }
              .percent85 {
                --width: 85%;
              }
              .percent90 {
                --width: 88%;
              }
              .percent95 {
                --width: 92%;
              }

              .progress {
                background: #313131;
                text-align: right;
                color: azure;
                padding-inline-end: 20px;
                font-family: $poppin-Font;
                font-weight: 200;
                font-size: 0.8rem;
                border-radius: 40px;
                height: 100%;
                width: var(--width);
              }
            }
          }
        }
      }
      .section-2-skills-items {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        row-gap: 15px;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          column-gap: 10px;
          padding: 2px;
          padding-inline: 3px;
          text-align: center;
          border: #888888 solid 1px;
          border-radius: 5px;
          height: 3rem;
          font-family: "poppins-bold", sans-serif;
          font-size: 1rem;
          line-height: 2rem;
          color: #6e6e6e;
        }

        div:hover {
          border-color: $Text-pink;
          color: $Text-pink;
          cursor: pointer;
        }
      }
    }

    .section-2-profile {
      max-width: 45%;
      -webkit-animation: slide-in-right 0.5s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation-delay: 300ms;

      ul {
        margin-top: 3rem;

        li {
          padding: 0%;
          margin: 0%;
          margin-bottom: 10px;

          label {
            font-family: $poppin-Font;
            color: #414141;
            text-transform: uppercase;
            font-size: 1.1rem;
          }
        }

        p {
          position: relative;
          top: -17px;
          font-family: $Lora-Font;
          color: #888888;
          font-size: 0.9rem;
        }
      }
    }

    .section-2-buttons {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      column-gap: 3rem;

      a {
        text-decoration: none;
      }

      button {
        min-width: 13rem;
        padding-inline: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        column-gap: 10px;
        text-align: center;
        border: solid 2px;
        height: 3rem;
        font-family: "poppins-bold", sans-serif;
        font-weight: 550;
        font-size: 0.9rem;
        line-height: 2rem;
        color: rgb(49, 49, 49);
        transition-duration: 300ms;
      }
      button:nth-child(2) {
        background-color: rgb(49 49 49);
        color: azure;
        border: none;
      }

      button:nth-child(2):hover {
        cursor: pointer;
        background-color: black;
      }

      button:nth-child(1):hover {
        color: $Text-pink;
        border-color: $Text-pink;
        cursor: pointer;
        background-color: #00000000;
      }
    }

    // !================== SECTION 3 & 4 & 5 ===================

    .section-3,
    .section-4,
    .section-5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 2rem;
      padding-top: 8rem;
      font-family: $Lora-Font;

      .header-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        max-width: 70%;

        h5 {
          font-family: $poppin-Font;
          color: $Text-pink;
          font-size: 1.2rem;
          line-height: 1.875;
          margin-bottom: 0.3rem;
          letter-spacing: 0.2rem;
          text-decoration: none;
        }

        h1 {
          font-family: $poppin-Font;
          font-size: 2.8rem;
          font-weight: 400;
          color: #313131;
          line-height: 1.25;
          margin-bottom: 1.2rem;
        }

        p {
          color: $text-gray;
          font-family: $Lora-Font;
          font-size: 1.3rem;
        }
      }

      .resume-header {
        text-align: center;
        color: $Text-pink;
        font-family: $poppin-Font;
        font-size: 1.2rem;
        margin-bottom: 5rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .blocks-main-container {
        width: 100%;

        .timeline-wrap {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          position: relative;
          margin-top: 1.5rem;
          margin-bottom: 6rem;

          .blocks-second-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            padding-left: 4rem;
            row-gap: 2.5rem;

            .timeline-block {
              padding-bottom: 30px;

              .timeline-ico {
                position: absolute;
                display: grid;
                place-items: center;
                width: 2.3rem;
                height: 2.3rem;
                background-color: #000000;
                border-radius: 100%;
                color: azure;
                margin-left: -3rem;
                margin-right: 20px;

                svg {
                  stroke-width: 3px;
                }
              }

              .timeline-header {
                font-family: $poppin-Font;
                margin-bottom: 0.8rem;
                border-bottom: 2px rgba(0, 0, 0, 0.321) solid;
                width: 30%;
                padding-bottom: 10px;

                p {
                  color: $text-gray;
                }
              }

              .timeline-content {
                font-family: $Lora-Font;
                width: 90%;

                h4 {
                  margin-bottom: 8px;
                  font-family: $poppin-Font;
                  color: $Text-pink;
                }

                p {
                  color: $text-gray;
                  font-size: 1.1rem;
                  line-height: 1.6rem;
                }
              }
            }
          }
        }

        .timeline-wrap::before {
          content: "";
          display: block;
          width: 1px;
          height: 100%;
          background: rgb(155, 155, 155);
          position: absolute;
          left: 2.2rem;
          top: 0;
        }
      }
    }

    .section-4,
    .section-5 {
      padding-top: 0px;
      h2 {
        font-size: 2rem;
        letter-spacing: 3px;
      }

      span {
        color: $Text-pink;
      }
    }

    .section-5-buttons {
      display: flex;
      flex-direction: column;

      margin-top: 20px;

      h6 {
        font-family: $poppin-Font;
        color: $text-gray;
        font-size: 1rem;
        font-weight: 600;
      }
      div {
        margin-top: 7px;
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 10px;

        button {
          padding: 9px;
          font-family: $poppin-Font;
          font-size: 0.8rem;
          font-weight: 500;
          border: none;
          border-radius: 5px;
          background-color: #00000000;
          color: white;
          cursor: pointer;
        }

        a {
          border-radius: 5px;
          transition-duration: 300ms;
          padding: 9px;
          font-family: $poppin-Font;
          font-size: 0.8rem;
          font-weight: 500;
          border: none;
          border-radius: 5px;
          background-color: #00000000;
          color: white;
          cursor: pointer;
          text-decoration: none;
        }

        a:nth-child(1) {
          background-color: orangered;
        }

        a:nth-child(1):hover {
          background-color: rgb(193, 51, 0);
        }

        a:nth-child(2):hover {
          background-color: rgb(0, 8, 166);
        }

        a:nth-child(2) {
          background-color: rgb(0, 13, 255);
        }
      }
    }
  }
}
//  !========= SECTION 6 =========

.section-6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #313131 url(../images/bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: white;
  position: relative;
  padding-top: 22rem;
  padding-bottom: 30rem;

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(20, 20, 20);
    background: linear-gradient(
      0deg,
      rgba(20, 20, 20, 1) 0%,
      rgba(20, 20, 20, 0.8869922969187675) 66%,
      rgba(20, 20, 20, 0.788953081232493) 100%
    );

    .header {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      max-width: 60%;
      font-family: $poppin-Font;
      margin-bottom: 3rem;

      h6 {
        color: $Text-pink;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 0.15rem;
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 0.3rem;
      }

      p {
        font-size: 1rem;
        font-weight: 300;
        max-width: 40rem;
      }
    }

    .section-6-cards-container-1 {
      width: 100vw;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      height: 28rem;
      margin-top: 3rem;

      .scroll-button-left,
      .scroll-button-right {
        position: relative;
        min-width: 4rem;
        min-height: 4rem;
        border-radius: 100%;
        border: none;
        display: grid;
        place-items: center;
        background-color: #3131318a;
        cursor: pointer;
        svg {
          color: $Text-pink;
          fill: $Text-pink;
          min-width: 2rem;
          min-height: 2rem;
        }
      }
      .scroll-button-left:active,
      .scroll-button-right:active {
        background-color: #636363af;
      }

      .section-6-cards-container-2 {
        scroll-behavior: smooth;
        transition: 350ms ease-in-out;
        display: flex;
        align-items: center;
        flex-direction: row;
        max-width: 75vw;
        // background-color: #000000;
        min-height: 100%;
        overflow-x: scroll;
        gap: 1.5rem;
        padding-inline: 2rem;
        margin-inline: 1rem;

        .section-6-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 30rem;
          background-color: rgba(245, 245, 245, 0.062);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-radius: 25px;
          overflow: hidden;
          padding-block: 3rem;
          height: 22rem;

          .cards-text {
            overflow: hidden;
            margin-bottom: auto;
            margin-top: auto;
            width: 90%;
            text-align: center;
            h4 {
              font-family: $poppin-Font;
              font-size: 1.6rem;
              margin-bottom: 20px;
            }

            p {
              font-family: $poppin-Font;
              font-weight: 200;
            }
          }

          .cards-icon {
            width: 9rem;
            justify-self: flex-start;
            overflow: hidden;
            display: grid;
            place-items: center;

            svg {
              width: 100%;
            }
          }
        }

        .section-6-card:nth-child(1) {
          .cards-icon {
            margin-top: 1rem;
          }
        }

        .section-6-card:nth-child(2) {
          .cards-icon {
            margin-bottom: 1rem;
            svg {
              width: 84%;
            }
          }
        }

        .section-6-card:nth-child(3) {
          .cards-icon {
            margin-bottom: 1rem;
            width: 10rem;
            svg {
              width: 90%;
            }
          }
        }

        .section-6-card:nth-child(4) {
          .cards-icon {
            svg {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
//  !========= FOOTER ===========
footer {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 5rem;
  padding-top: 2rem;

  .footer-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 60%;
    font-family: $poppin-Font;
    margin-bottom: 3rem;
    color: #f5f5f5;

    h6 {
      color: $Text-pink;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 3px;
      margin-bottom: 0.15rem;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      max-width: 40rem;
    }
  }

  .footer-container-items {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2.5rem;

    .footer-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: whitesmoke;
      row-gap: 20px;

      padding-inline: 2.5rem;
      min-width: 5rem;

      a {
        color: whitesmoke;
        svg:hover {
          color: #000000;
        }
      }

      .footer-item-content {
        text-align: center;
        h5 {
          font-family: $poppin-Font;
          font-size: 1.2rem;
          font-weight: 600;
        }

        p {
          font-family: $poppin-Font;
          font-size: 1rem;
          font-weight: 200;
        }
      }
    }

    .footer-item:nth-child(1) {
      border: none;
    }
  }

  footer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: center;
    color: $Text-pink;
    font-family: $poppin-Font;
    column-gap: 5px;
    span {
      color: whitesmoke;
    }
  }
}

//! ================= Media Queries =======================

// TABLET (768px)
@media screen and (max-width: 768px) {
  // ======= HEADER ===========
  header {
    // For the dark layer on the image
    .layer {
      .header-text {
        line-height: 20px;

        .container {
          position: relative;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        .text {
          font-family: $pixel-font;
          font-size: 2rem;
          color: $Text-pink;
        }

        .text_hide {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #141414;
          width: 100%;
          height: 5rem;
        }

        .text_cursor {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: transparent;
          border-left: 3.5px solid rgb(255, 255, 255);
        }
        .logo {
          padding-right: 8rem;
          img {
            max-width: 15rem;
          }
        }
        h1 {
          font-size: 3.5rem;
          line-height: 0.8;
          max-width: 580px;
          font-weight: 550;
        }

        h5 {
          font-size: 1.2rem;
          line-height: 1.565;
          margin-bottom: 10px;
        }

        h6 {
          font-size: 0.8rem;
          line-height: 2rem;
          letter-spacing: 0.2rem;
        }
        a {
          .header-button {
            margin-top: 20px;
            width: 12rem;
            height: 3rem;
            font-size: 0.75rem;

            .header-button-chevron {
              margin-top: 5px;
              width: 25px;
            }
          }
        }
      }
    }
  }

  //  !========= SECTION 1 =========
  .container {
    padding-inline: 10px;
  }
  .section-1 {
    h6 {
      font-size: 1rem;
    }

    h2 {
      font-size: 2rem !important;
      line-height: 1.3 !important;
      margin-bottom: 20px !important;
    }

    .section-1-content {
      padding-bottom: 2rem;
      min-height: 10rem;
      flex-direction: column !important;
      justify-content: center;

      .profile-image {
        margin-left: 0px !important;
      }
      p {
        margin-right: 0rem !important;
        text-align: center !important;
        font-size: 1.05rem !important;
        max-width: 35rem !important;
      }
    }
  }

  //  !========= SECTION 2 =========
  .section-2 {
    width: 100% !important;
    .section-2-content {
      padding-inline: 0px !important;
      width: 100% !important;
      align-items: center !important;
      flex-direction: column !important;
    }
  }

  .section-2-skills {
    max-width: 100% !important;
  }

  .section-2-profile {
    margin-top: 20px !important;
    max-width: 100% !important;

    ul {
      margin-top: 1rem !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;

      li {
        label {
          font-size: 1.1rem !important;
        }
      }

      p {
        font-size: 1rem !important;
      }
    }
  }

  .section-2-buttons {
    margin-top: 20px !important;
    flex-direction: column !important;
    row-gap: 1rem !important;
  }

  // !================== SECTION 3 & 4 & 5 ===================

  .section-3,
  .section-4,
  .section-5 {
    row-gap: 1rem !important;
    padding-top: 4rem !important;

    .header-intro {
      max-width: 100% !important;

      h1 {
        font-size: 2.1rem !important;
        font-weight: 500 !important;
        margin-bottom: 1rem !important;
      }

      p {
        font-size: 1.2rem !important;
      }
    }

    .resume-header {
      font-size: 1.3rem !important;
      margin-bottom: 3rem !important;
    }

    .blocks-main-container {
      width: 100%;

      .timeline-wrap {
        margin-top: 1rem !important;
        margin-bottom: 4rem !important;

        .blocks-second-container {
          height: 100%;
          width: 100%;
          row-gap: 2.5rem;

          .timeline-block {
            .timeline-header {
              width: 60% !important;

              h3 {
                font-size: 1.2rem;
              }

              p {
                font-size: 0.8rem;
              }
            }

            .timeline-content {
              width: 100% !important;
              p {
                font-size: 1.05rem !important;
              }
            }
          }
        }
      }

      .timeline-wrap::before {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background: rgb(155, 155, 155);
        position: absolute;
        left: 2.2rem;
        top: 0;
      }
    }
  }

  .section-4,
  .section-5 {
    padding-top: 0px;
    h2 {
      font-size: 2rem;
      letter-spacing: 3px;
    }
  }

  .section-5-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    div {
      margin-top: 7px;
      display: flex;
      align-items: flex-start !important;
      flex-direction: column !important;
      row-gap: 10px !important;

      button {
        width: 100%;
        height: 100%;
      }

      a {
        display: grid;
        place-items: center;
        border-radius: 7px !important;
        text-decoration: none;
        width: 65%;
        overflow: hidden;
      }
    }
  }

  //  !========= SECTION 6 =========

  .section-6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #313131 url(../images/bg.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: white;
    position: relative;
    padding-top: 22rem;
    padding-bottom: 30rem;

    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(20, 20, 20);
      background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 1) 0%,
        rgba(20, 20, 20, 0.8869922969187675) 66%,
        rgba(20, 20, 20, 0.788953081232493) 100%
      );

      .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        max-width: 60%;
        font-family: $poppin-Font;
        margin-bottom: 3rem;

        h6 {
          color: $Text-pink;
          font-size: 0.8rem;
          font-weight: 600;
          letter-spacing: 3px;
          margin-bottom: 0.15rem;
        }

        h1 {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 0.3rem;
          max-width: 80vw;
        }

        p {
          font-size: 0.9rem;
          font-weight: 300;
          max-width: 40rem;
        }
      }

      .section-6-cards-container-1 {
        margin-top: 2rem !important;

        .scroll-button-left,
        .scroll-button-right {
          display: none !important;
        }

        .section-6-cards-container-2 {
          width: 100vw !important;
          min-height: 100% !important;
          gap: 0.5rem !important;
          margin-inline: 0.5rem !important;

          .section-6-card {
            min-width: 25rem !important;
            border-radius: 30px !important;

            .cards-text {
              h4 {
                font-size: 1.2rem;
              }

              p {
                font-size: 0.9rem;
              }
            }

            .cards-icon {
              width: 7rem;

              svg {
                width: 100%;
              }
            }
          }

          .section-6-card:nth-child(1) {
            .cards-icon {
              margin-top: 1rem;
            }
          }

          .section-6-card:nth-child(2) {
            .cards-icon {
              margin-bottom: 1rem;
              svg {
                width: 94%;
              }
            }
          }

          .section-6-card:nth-child(3) {
            .cards-icon {
              margin-bottom: 1rem;
              width: 10rem;
              svg {
                width: 80%;
              }
            }
          }

          .section-6-card:nth-child(4) {
            .cards-icon {
              margin-top: 1rem;
              svg {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  //  !========= FOOTER ===========
  footer {
    padding-inline: 0rem !important;

    .footer-header {
      max-width: 86% !important;
      margin-bottom: 2rem !important;

      h6 {
        color: $Text-pink;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 0.15rem;
      }

      h1 {
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: 0.3rem;
      }

      p {
        font-size: 1rem;
        font-weight: 300;
        max-width: 84%;
      }
    }

    .footer-container-items {
      margin-top: 3rem;
      margin-bottom: 3rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 2.5rem;

      .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: whitesmoke;
        row-gap: 20px;

        padding-inline: 2.5rem;
        min-width: 5rem;

        a {
          color: whitesmoke;
          svg:hover {
            color: #000000;
          }
        }

        .footer-item-content {
          text-align: center;
          h5 {
            font-family: $poppin-Font;
            font-size: 1.2rem;
            font-weight: 600;
          }

          p {
            font-family: $poppin-Font;
            font-size: 1rem;
            font-weight: 200;
          }
        }
      }

      .footer-item:nth-child(1) {
        border: none;
      }
    }

    footer {
      h6 {
        font-size: 0.6rem;
        font-weight: 200;
      }
    }
  }
}

// MOBILE (485px)
@media screen and (max-width: 485px) {
  // !============ MENU ===========
  nav {
    padding: 2px;
  }

  // scroll top button
  a {
    cursor: pointer;
    .scroll-top-button {
      height: 3.5rem;
      width: 3rem;
    }
  }

  //! ======= HEADER ===========
  header {
    // For the dark layer on the image
    .layer {
      .header-text {
        margin-top: 120px !important;
        line-height: 20px;
        .logo {
          padding-right: 6.2rem;
          img {
            max-width: 12rem;
          }
        }
        h1 {
          font-size: 2rem;
          line-height: 0.8;
          max-width: 580px;
          font-weight: 550;
        }

        h5 {
          font-size: 1rem;
          line-height: 1.565;
          margin-bottom: 10px;
        }

        h6 {
          font-size: 0.6rem;
          line-height: 2rem;
          letter-spacing: 0.1rem;
          max-width: 90%;
        }
        a {
          .header-button {
            margin-top: 20px;
            width: 10rem;
            height: 3rem;
            font-size: 0.6rem;

            .header-button-chevron {
              margin-top: 5px;
              width: 20px;
            }
          }
        }
      }
    }
  }

  //  !========= SECTION 1 =========
  .container {
    padding-inline: 10px;
  }
  .section-1 {
    h6 {
      font-size: 0.8rem;
    }

    h2 {
      font-size: 1.2rem !important;
      line-height: 1 !important;
      margin-bottom: 20px !important;
      text-align: center;
    }

    .section-1-content {
      padding-bottom: 2rem;
      min-height: 10rem;
      flex-direction: column !important;
      justify-content: center;

      .profile-image {
        margin-left: 0px !important;
        background-size: 120px;
        width: 80px;
        height: 80px;
      }
      p {
        margin-right: 0rem !important;
        text-align: center !important;
        font-size: 0.7rem !important;
        max-width: 98vw !important;
      }
    }
  }

  //  !========= SECTION 2 =========
  .section-2 {
    width: 100% !important;
    .section-2-content {
      padding-inline: 0px !important;
      width: 100% !important;
      align-items: center !important;
      flex-direction: column !important;
    }
  }

  .section-2-skills {
    max-width: 100% !important;

    p {
      font-size: 0.9rem !important;
      line-height: 20px !important;
    }

    .section-2-skills-items {
      gap: 20px !important;
    }
  }

  .section-2-profile {
    margin-top: 20px !important;
    max-width: 100% !important;

    p {
      font-size: 0.9rem !important;
      line-height: 20px !important;
    }

    ul {
      margin-top: 1rem !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;

      li {
        label {
          font-size: 1rem !important;
        }
      }

      p {
        font-size: 0.8rem !important;
      }
    }
  }

  .skill-bars {
    .progress-container {
      width: 80%;
      .progress {
        border-radius: 0px 0px 5px 5px;
        span {
          font-size: 0.7rem !important;
          margin-bottom: auto;
          margin-top: auto;
        }
      }
    }
    strong {
      font-size: 0.8rem !important;
    }
  }

  .section-2-buttons {
    margin-top: 20px !important;
    flex-direction: column !important;
    row-gap: 1rem !important;
    max-width: 80vw !important;
  }

  // !================== SECTION 3 & 4 & 5 ===================

  .section-3,
  .section-4,
  .section-5 {
    row-gap: 1rem !important;
    padding-top: 4rem !important;

    .header-intro {
      width: 90vw !important;
      h5 {
        font-size: 1rem !important;
      }
      h1 {
        font-size: 1.4rem !important;
        font-weight: 600 !important;
        margin-bottom: 1rem !important;
      }

      p {
        font-size: 0.8rem !important;
      }
    }

    .resume-header {
      margin-bottom: 1.2rem !important;
    }

    .blocks-main-container {
      width: 100%;

      .timeline-wrap {
        margin-top: 1rem !important;
        margin-bottom: 3rem !important;

        .blocks-second-container {
          height: 100%;
          width: 100%;
          row-gap: 2.5rem;

          .timeline-block {
            .timeline-header {
              width: 80% !important;

              h3 {
                font-size: 0.9rem !important;
                max-width: 80vw;
              }

              p {
                font-size: 0.6rem !important;
                max-width: 80vw;
              }
            }

            .timeline-content {
              width: 100% !important;
              h4 {
                margin-top: 0.7rem !important;
              }
              p {
                font-size: 0.9rem !important;
              }
            }
          }
        }
      }

      .timeline-wrap::before {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background: rgb(155, 155, 155);
        position: absolute;
        left: 2.2rem;
        top: 0;
      }
    }
  }

  .section-4,
  .section-5 {
    padding-top: 0px;
    h2 {
      font-size: 1.5rem;
      letter-spacing: 3px;
    }
  }

  .section-5-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    div {
      margin-top: 7px;
      display: flex;
      align-items: flex-start !important;
      flex-direction: column !important;
      row-gap: 10px !important;

      button {
        width: 100%;
        height: 100%;
      }

      a {
        display: grid;
        place-items: center;
        border-radius: 7px !important;
        text-decoration: none;
        width: 90%;
        overflow: hidden;
      }
    }
  }

  //  !========= SECTION 6 =========

  .section-6 {
    padding-top: 22rem;
    padding-bottom: 25rem;

    .overlay {
      .header {
        max-width: 100% !important;
        margin-bottom: 2rem;
        h6 {
          margin-bottom: 0.15rem;
        }

        h1 {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 0.3rem;
        }

        p {
          font-size: 0.6rem;
          font-weight: 350;
          max-width: 90%;
        }
      }

      .section-6-cards-container-1 {
        margin-top: 1rem !important;

        .section-6-cards-container-2 {
          width: 100vw !important;
          min-height: 100% !important;
          gap: 0.5rem !important;
          margin-inline: 0rem !important;

          .section-6-card {
            min-width: 18rem !important;
            border-radius: 30px !important;

            .cards-text {
              h4 {
                font-size: 0.95rem;
              }

              p {
                font-size: 0.8rem;
              }
            }

            .cards-icon {
              width: 7rem;

              svg {
                width: 100%;
              }
            }
          }

          .section-6-card:nth-child(1) {
            .cards-icon {
              margin-top: 1rem;
            }
          }

          .section-6-card:nth-child(2) {
            .cards-icon {
              margin-bottom: 1rem;
              svg {
                width: 84%;
              }
            }
          }

          .section-6-card:nth-child(3) {
            .cards-icon {
              margin-bottom: 1rem;
              width: 7rem;
              svg {
                width: 100%;
              }
            }
          }

          .section-6-card:nth-child(4) {
            .cards-icon {
              margin-top: 1rem;
              svg {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  //  !========= FOOTER ===========
  footer {
    padding-inline: 0rem !important;

    .footer-header {
      max-width: 86% !important;
      margin-bottom: 2rem !important;

      h6 {
        color: $Text-pink;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 0.15rem;
      }

      h1 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.7rem;
        font-weight: 300;
        max-width: 96%;
      }
    }

    .footer-container-items {
      margin-top: 3rem;
      margin-bottom: 3rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 2.5rem;

      .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: whitesmoke;
        row-gap: 20px;

        padding-inline: 2.5rem;
        min-width: 5rem;

        a {
          color: whitesmoke;
          svg:hover {
            color: #000000;
          }
        }

        .footer-item-content {
          text-align: center;
          h5 {
            font-family: $poppin-Font;
            font-size: 1.2rem;
            font-weight: 600;
          }

          p {
            font-family: $poppin-Font;
            font-size: 1rem;
            font-weight: 200;
          }
        }
      }

      .footer-item:nth-child(1) {
        border: none;
      }
    }

    footer {
      h6 {
        font-size: 0.4rem;
        font-weight: 400;
        max-width: 80%;
      }
    }
  }
}

// Vertical queries
@media screen and (max-height: 700px) {
  header {
    .header-text {
      margin-top: 120px;
    }
  }
}
